table {
  font-size: 14px;
}
.informationForm > p {
  text-align: left;
  line-height: 32px;
  font-size: 14px;
}

.pretable-contianer {
  margin-top: -150px;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ant-calendar-picker-icon{
  top:40%;
}
